<a href="https://colab.research.google.com/github/SPThole/LTFS_repo/blob/main/LETSEE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install xgboost==1.3.3
# !python -m pip install dask[dataframe] --upgrade
# !pip install dask-xgboost


# !pip install dask_ml
# !pip install shap

In [ ]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.24.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)

In [ ]:
# from dask.distributed import Client

# client = Client(n_workers=4, threads_per_worker=1)
# client

In [ ]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
import lightgbm
import catboost as catb
from sklearn.model_selection import GridSearchCV, StratifiedKFold
%matplotlib inline

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/pro_train_ltfs1.csv')
test = pd.read_csv('/content/drive/MyDrive/pro_test_ltfs1.csv')

In [ ]:
train = train.sort_values(by=['ID','REPORTED DATE - HIST'])
test = test.sort_values(by=['ID','REPORTED DATE - HIST'])

In [ ]:
train.head()

     ID      EMI REPORTED DATE - HIST  ...  Top-up Month   DURATION  lens
101   1  24000.0  2013-03-31 00:00:00  ...             6  1435 days   191
100   1  24000.0  2013-04-30 00:00:00  ...             6  1435 days   191
99    1  24000.0  2013-05-31 00:00:00  ...             6  1435 days   191
98    1  24000.0  2013-06-30 00:00:00  ...             6  1435 days   191
97    1  24000.0  2013-07-31 00:00:00  ...             6  1435 days   191

[5 rows x 32 columns]

In [ ]:
train['how_many_6'] = (pd.to_datetime(train['REPORTED DATE - HIST'],errors='coerce')- pd.to_datetime(train['DisbursalDate'],errors='coerce'))/np.timedelta64(6, 'M')
test['how_many_6'] = (pd.to_datetime(test['REPORTED DATE - HIST'],errors='coerce')- pd.to_datetime(test['DisbursalDate'],errors='coerce'))/np.timedelta64(6, 'M')

In [ ]:
train['how_many_6'] = np.round(train['how_many_6'])
test['how_many_6'] = np.round(test['how_many_6'])

In [ ]:
traincur = train.groupby(['ID','how_many_6']).agg({'CUR BAL - HIST':'mean'}).reset_index()
testcur = test.groupby(['ID','how_many_6']).agg({'CUR BAL - HIST':'mean'}).reset_index()

In [ ]:
traincur = traincur[(traincur['how_many_6']<=30) & (traincur['how_many_6']>=1)]
testcur = testcur[(testcur['how_many_6']<=30) & (testcur['how_many_6']>=1)]

In [ ]:
testcur = testcur.pivot_table(values='CUR BAL - HIST', index='ID', columns='how_many_6').reset_index()
traincur = traincur.pivot_table(values='CUR BAL - HIST', index='ID', columns='how_many_6').reset_index()

In [ ]:
train.columns

Index(['ID', 'EMI', 'REPORTED DATE - HIST', 'CUR BAL - HIST', 'ACCT-TYPE',
       'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'ASSET_CLASS',
       'SELF-INDICATOR', 'TENURE', 'Frequency', 'InstlmentMode', 'LoanStatus',
       'PaymentMode', 'BranchID', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'ManufacturerID', 'LTV', 'SEX', 'AGE', 'MonthlyIncome', 'State',
       'Top-up Month', 'DURATION', 'lens', 'how_many_6'],
      dtype='object')

In [ ]:
for col in ['REPORTED DATE - HIST','DisbursalDate','MaturityDAte']:
  print(col)
  train[col+'m'] = train[col].apply(lambda x: str(x)[5:7])
  test[col+'m'] = test[col].apply(lambda x: str(x)[5:7])

  train[col+'y'] = train[col].apply(lambda x: str(x)[:4])
  test[col+'y'] = test[col].apply(lambda x: str(x)[:4])

for col in ['REPORTED DATE - HIST','DisbursalDate','MaturityDAte']:
  print(col)
  train[col+'m'] = pd.to_numeric(train[col+'m'],downcast='float',errors='coerce')
  test[col+'m'] = pd.to_numeric(test[col+'m'],downcast='float',errors='coerce')

  train[col+'y'] = pd.to_numeric(train[col+'y'], downcast='float',errors='coerce')
  test[col+'y'] = pd.to_numeric(test[col+'y'], downcast='float',errors='coerce')

REPORTED DATE - HIST
DisbursalDate
MaturityDAte
REPORTED DATE - HIST
DisbursalDate
MaturityDAte

In [ ]:
train.columns

Index(['ID', 'EMI', 'REPORTED DATE - HIST', 'CUR BAL - HIST', 'ACCT-TYPE',
       'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'ASSET_CLASS',
       'SELF-INDICATOR', 'TENURE', 'Frequency', 'InstlmentMode', 'LoanStatus',
       'PaymentMode', 'BranchID', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'ManufacturerID', 'LTV', 'SEX', 'AGE', 'MonthlyIncome', 'State',
       'Top-up Month', 'DURATION', 'lens', 'how_many_6',
       'REPORTED DATE - HISTm', 'REPORTED DATE - HISTy', 'DisbursalDatem',
       'DisbursalDatey', 'MaturityDAtem', 'MaturityDAtey'],
      dtype='object')

In [ ]:
train.head()

     ID      EMI  ... MaturityDAtem  MaturityDAtey
101   1  24000.0  ...           1.0         2016.0
100   1  24000.0  ...           1.0         2016.0
99    1  24000.0  ...           1.0         2016.0
98    1  24000.0  ...           1.0         2016.0
97    1  24000.0  ...           1.0         2016.0

[5 rows x 39 columns]

In [ ]:
train = train.groupby('ID').agg({
   'EMI':'mean', 
  'ACCT-TYPE':'mean',
  'CONTRIBUTOR-TYPE':'mean', 
  'OWNERSHIP-IND':'mean', 
  'ACCOUNT-STATUS':'mean', 
  'ASSET_CLASS':'mean',
  'SELF-INDICATOR':'mean', 
  'TENURE':'mean', 
  'Frequency':'mean', 
  'InstlmentMode':'mean', 
  'LoanStatus':'sum',
       'PaymentMode':'mean', 
       'BranchID':'mean', 
       'Tenure':'mean', 
       'AssetCost':'mean', 
       'AmountFinance':'mean',
       'DisbursalAmount':'mean', 
       'ManufacturerID':'mean', 
       'LTV':'mean', 
       'SEX':'mean', 
       'AGE':'mean', 
       'MonthlyIncome':'mean', 
       'State':'mean',
       'Top-up Month':'mean', 
       'DURATION':'unique', 
       'lens':'mean', 
       'how_many_6':'mean',
       'REPORTED DATE - HISTm':'mean', 
       'REPORTED DATE - HISTy':'mean', 
       'DisbursalDatem':'mean',
       'DisbursalDatey':'mean', 
       'MaturityDAtem':'mean', 
       'MaturityDAtey':'mean',
    # 'DisbursalDatem':'mean',
    # 'DisbursalDatey':'mean',
    # 'MaturityDAtem':'mean',
    # 'MaturityDAtey':'mean',
    # 'EMI':'mean',
    # 'SELF-INDICATOR':'mean',
    # 'TENURE':'mean',
    # 'Frequency':'mean',
    # 'InstlmentMode':'mean',
    # 'LoanStatus':'sum',
    # 'PaymentMode':'mean',
    # 'Tenure':'mean',
    # 'AssetCost':'mean',
    # 'AmountFinance':'mean',
    # 'DisbursalAmount':'mean',
    # 'LTV':'mean','SEX':'mean',
    # 'AGE':'mean','MonthlyIncome':'mean',
    # 'Top-up Month':'unique','DURATION':'unique',
    # 'lens':'mean'

}).reset_index()

test = test.groupby('ID').agg({
    
    'EMI':'mean', 
  'ACCT-TYPE':'mean',
  'CONTRIBUTOR-TYPE':'mean', 
  'OWNERSHIP-IND':'mean', 
  'ACCOUNT-STATUS':'mean', 
  'ASSET_CLASS':'mean',
  'SELF-INDICATOR':'mean', 
  'TENURE':'mean', 
  'Frequency':'mean', 
  'InstlmentMode':'mean', 
  'LoanStatus':'sum',
       'PaymentMode':'mean', 
       'BranchID':'mean', 
       'Tenure':'mean', 
       'AssetCost':'mean', 
       'AmountFinance':'mean',
       'DisbursalAmount':'mean', 
       'ManufacturerID':'mean', 
       'LTV':'mean', 
       'SEX':'mean', 
       'AGE':'mean', 
       'MonthlyIncome':'mean', 
       'State':'mean',
      #  'Top-up Month':'mean', 
       'DURATION':'unique', 
       'lens':'mean', 
       'how_many_6':'mean',
       'REPORTED DATE - HISTm':'mean', 
       'REPORTED DATE - HISTy':'mean', 
       'DisbursalDatem':'mean',
       'DisbursalDatey':'mean', 
       'MaturityDAtem':'mean', 
       'MaturityDAtey':'mean',
    # 'DisbursalDatem':'mean',
    # 'DisbursalDatey':'mean',
    # 'MaturityDAtem':'mean',
    # 'MaturityDAtey':'mean',
    # 'EMI':'mean',
    # 'SELF-INDICATOR':'mean',
    # 'TENURE':'mean',
    # 'Frequency':'mean',
    # 'InstlmentMode':'mean',
    # 'LoanStatus':'sum',
    # 'PaymentMode':'mean',
    # 'Tenure':'mean',
    # 'AssetCost':'mean',
    # 'AmountFinance':'mean',
    # 'DisbursalAmount':'mean',
    # 'LTV':'mean','SEX':'mean',
    # 'AGE':'mean','MonthlyIncome':'mean',
    # 'DURATION':'unique',
    # 'lens':'mean'

}).reset_index()

In [ ]:
test.shape,train.shape

((14745, 33), (128655, 34))

In [ ]:
train['DURATION'] = train['DURATION'].apply(lambda x: x[0])
# train['Top-up Month'] = train['Top-up Month'].apply(lambda x: x[0])
test['DURATION'] = test['DURATION'].apply(lambda x: x[0])

In [ ]:
# traincur = traincur.fillna(0)
# testcur = testcur.fillna(0)

In [ ]:
train = train.merge(traincur,on='ID',how='left')
test = test.merge(testcur,on='ID',how='left')

In [ ]:
# train = train.fillna(0)
# test = test.fillna(0)

In [ ]:
def datestrp(x,s):
  x=str(x)
  if s=='m' and ('N' not in x):
    return x[5:7]
  else:
    return np.nan
  if s=='y' and ('N' not in x):
    return x[:4]
  else:
    return np.nan

In [ ]:
train['DURATION'] = train['DURATION'].apply(lambda x: float(str(x).split('days')[0]))
test['DURATION'] = test['DURATION'].apply(lambda x: float(str(x).split('days')[0]))

In [ ]:
# test.columns

Index([                   'ID',                   'EMI',
                   'ACCT-TYPE',      'CONTRIBUTOR-TYPE',
               'OWNERSHIP-IND',        'ACCOUNT-STATUS',
                 'ASSET_CLASS',        'SELF-INDICATOR',
                      'TENURE',             'Frequency',
               'InstlmentMode',            'LoanStatus',
                 'PaymentMode',              'BranchID',
                      'Tenure',             'AssetCost',
               'AmountFinance',       'DisbursalAmount',
              'ManufacturerID',                   'LTV',
                         'SEX',                   'AGE',
               'MonthlyIncome',                 'State',
                    'DURATION',                  'lens',
                  'how_many_6', 'REPORTED DATE - HISTm',
       'REPORTED DATE - HISTy',        'DisbursalDatem',
              'DisbursalDatey',         'MaturityDAtem',
               'MaturityDAtey',                     1.0,
                           2.0,                     3.0,
                           4.0,                     5.0,
                           6.0,                     7.0,
                           8.0,                     9.0,
                          10.0,                    11.0,
                          12.0,                    13.0,
                          14.0,                    15.0,
                          16.0,                    17.0,
                          18.0,                    19.0,
                          20.0,                    21.0,
                          22.0,                    23.0,
                          24.0,                    25.0,
                          26.0,                    27.0,
                          28.0,                    29.0,
                          30.0],
      dtype='object')

In [ ]:
# train = train.drop(columns= ['REPORTED DATE - HIST',
#                      'DisbursalDate',
#                      'MaturityDAte',
#                      'State',
#                      ])

# test = test.drop(columns= ['REPORTED DATE - HIST',
#                      'DisbursalDate',
#                      'MaturityDAte',
#                      'State',
#                      ])

In [ ]:
# train_x, test_x, train_y, test_y = train_test_split(trr.drop(columns=['ID','Top-up Month']), trr['Top-up Month'])

In [ ]:
# params = {'alpha': 0.00011211243738408213,
#  'booster': 'dart',
#  'eta': 0.016997707638062225,
#  'gamma': 4.3419043769837756e-08,
#  'grow_policy': 'depthwise',
#  'lambda': 0.007668374533807842,
#  'max_depth': 6,
#  'n_estimators': 291,
#  'normalize_type': 'tree',
#  'rate_drop': 7.535249046289386e-06,
#  'sample_type': 'uniform',
#  'skip_drop': 0.0035502603150640473}
# model = lightgbm.LGBMClassifier(n_jobs=-1)
                                
model = xgb.XGBClassifier(m_jobs=-1)
# from catboost import CatBoostClassifier
# model = catb.CatBoostClassifier(
#     # iterations=1000,
#     n_estimators=500
# #     verbose=5,
# )

# model.fit(
#     train_x, train_y,
#     cat_features=[],
#     eval_set=(test_x,test_y),
# )

In [ ]:
# wts = train_y.value_counts()/train.shape[0]
# wts = 0.006125/wts

In [ ]:
# wts

In [ ]:
# parameters = { #when use hyperthread, xgboost may become slower
              
#               'learning_rate': [0.05,0.1,0.001], #so called `eta` value
#               'max_depth': [6,7,8,10],
#               'min_child_weight': [11,50,100],
#               'subsample': [0.8],
#               'colsample_bytree': [0.7],
#               'n_estimators': [100,200,500], #number of trees, change it to 1000 for better results
#               'seed': [1337],
#               'reg_lambda':[0,1,10],
#               }


# clf = GridSearchCV(model, parameters, n_jobs=-1, 
#                    cv=StratifiedKFold(5), 
#                    verbose=3, refit=True)

# clf.fit(train.drop(columns=['ID','Top-up Month']), train["Top-up Month"])

In [ ]:

# clf = catb.CatBoostClassifier(
#     iterations=400,
# #     verbose=5,
# )

# clf.fit(
#     train_x, train_y,
#     cat_features=[],
#     eval_set=(test_x,test_y),
# )

In [ ]:
# # clf = model
# model.fit(train_x, train_y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, m_jobs=-1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
# # import shap
# explainer = shap.TreeExplainer(model)
# shap_values = explainer.shap_values(train_x.iloc[:2000,:])
# shap.summary_plot(shap_values,train_x.iloc[:2000,:] )

In [ ]:
# preds = model.predict(test_x)

# f1 = f1_score(test_y,preds,average='macro')

In [ ]:
# f1

0.38606935111063084

In [ ]:
# set(train.columns)-set(test.columns)

{'Top-up Month'}

In [ ]:
# preds = model.predict(tss.drop(columns=['ID']))

In [ ]:
# # preds = encode.inverse_transform(preds)
# trgt_inv_maps = {6:' > 48 Months', 
#              0:'No Top-up Service', 
#             1: '12-18 Months',
#               5:'36-48 Months', 
#               2:'18-24 Months', 
#               3:'24-30 Months', 
#               4:'30-36 Months'}
# preds = pd.Series(preds.reshape(-1,)).map(trgt_inv_maps)

In [ ]:
# test.head()

    ID      EMI  ACCT-TYPE  ...         28.0          29.0          30.0
0    4   1000.0   1.314483  ...  1169797.000  1.148044e+06  1.125827e+06
1    5   9300.0   1.980461  ...   166204.125  3.980911e+05  4.563858e+05
2    6  35800.0   1.374217  ...        0.000  0.000000e+00  0.000000e+00
3   25  52000.0   1.138935  ...        0.000  0.000000e+00  0.000000e+00
4  119  35400.0   1.079124  ...   122700.000  0.000000e+00  0.000000e+00

[5 rows x 63 columns]

In [ ]:
# preds_csv = pd.read_csv('/content/drive/MyDrive/sample_submission_ejm25Dc.csv')

In [ ]:
# preds_csv.head()

    ID  Top-up Month
0    4  36-48 Months
1    5  18-24 Months
2    6  30-36 Months
3   25  30-36 Months
4  119  30-36 Months

In [ ]:
# len(preds),len(test)

(14745, 14745)

In [ ]:
# preds_csv['Top-up Month'] = preds

In [ ]:
# preds_csv['Top-up Month'].value_counts()

No Top-up Service    14315
 > 48 Months           346
24-30 Months            42
30-36 Months            18
18-24 Months            15
36-48 Months             5
12-18 Months             4
Name: Top-up Month, dtype: int64

In [ ]:
# preds_csv.to_csv('preds1.csv',index = None)

In [ ]:
# preds_csv['ID'] == test['ID']

0        True
1        True
2        True
3        True
4        True
         ...
14740    True
14741    True
14742    True
14743    True
14744    True
Name: ID, Length: 14745, dtype: bool

In [ ]:
# preds_csv.to_csv('/content/drive/MyDrive/preds1.csv',index = None)

# preds_csv['Top-up Month'].value_counts()

No Top-up Service    14286
 > 48 Months           389
24-30 Months            26
18-24 Months            16
30-36 Months            15
36-48 Months            10
12-18 Months             3
Name: Top-up Month, dtype: int64

In [ ]:
train.to_csv('/content/drive/MyDrive/trainer_csv1.csv',index=None)
test.to_csv('/content/drive/MyDrive/tester_csv1.csv',index=None)

In [ ]:
# !pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.6/dist-packages (2.5.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from optuna) (1.0.0)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.3.23)
Requirement already satisfied: alembic in /usr/local/lib/python3.6/dist-packages (from optuna) (1.5.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (20.9)
Requirement already satisfied: cmaes>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (0.8.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from optuna) (4.41.1)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from optuna) (1.19.5)
Requirement already satisfied: cliff in /usr/local/lib/python3.6/dist-packages (from optuna) (3.6.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.6/dist-packages (from optuna) (4.7.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (2.8.1)
Requirement already satisfied: Mako in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.1.4)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.0.4)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=20.0->optuna) (2.4.7)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.3.0)
Requirement already satisfied: PrettyTable<0.8,>=0.7.2 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (0.7.2)
Requirement already satisfied: PyYAML>=3.12 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.13)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (5.5.1)
Requirement already satisfied: cmd2!=0.8.3,>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (1.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->alembic->optuna) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from Mako->alembic->optuna) (1.1.1)
Requirement already satisfied: importlib-metadata>=1.7.0; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from stevedore>=2.0.1->cliff->optuna) (3.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.2.5)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (20.3.0)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (1.8.1)
Requirement already satisfied: colorama>=0.3.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.4.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.7.0; python_version < "3.8"->stevedore>=2.0.1->cliff->optuna) (3.4.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.7.0; python_version < "3.8"->stevedore>=2.0.1->cliff->optuna) (3.7.4.3)

In [ ]:
# import optuna

In [ ]:
# def objective(trial):
#     # data, target = train.drop(columns=['ID','Top-up Month']), train['Top-up Month']
#     # train_x, test_x, train_y, test_y = train_test_split(data, target, test_size=0.25)
#     # dtrain = xgb.DMatrix(train_x, label=train_y)
#     # dtest = xgb.DMatrix(test_x, label=test_y)

#     param = {
#         # "silent": 1,
#         "booster": trial.suggest_categorical("booster", ["gbtree", "gblinear", "dart"]),
#         "lambda": trial.suggest_loguniform("lambda", 1e-8, 1.0),
#         "alpha": trial.suggest_loguniform("alpha", 1e-8, 1.0),
#     }

#     if param["booster"] == "gbtree" or param["booster"] == "dart":
#         param["max_depth"] = trial.suggest_int("max_depth", 1, 9)
#         param["n_estimators"] = trial.suggest_int("n_estimators", 100, 300)
#         param["eta"] = trial.suggest_loguniform("eta", 1e-8, 1.0)
#         param["gamma"] = trial.suggest_loguniform("gamma", 1e-8, 1.0)
#         param["grow_policy"] = trial.suggest_categorical("grow_policy", ["depthwise", "lossguide"])
#     if param["booster"] == "dart":
#         param["sample_type"] = trial.suggest_categorical("sample_type", ["uniform", "weighted"])
#         param["n_estimators"] = trial.suggest_int("n_estimators", 100, 300)
#         param["normalize_type"] = trial.suggest_categorical("normalize_type", ["tree", "forest"])
#         param["rate_drop"] = trial.suggest_loguniform("rate_drop", 1e-8, 1.0)
#         param["skip_drop"] = trial.suggest_loguniform("skip_drop", 1e-8, 1.0)

#     # Add a callback for pruning.
#     # pruning_callback = optuna.integration.XGBoostPruningCallback(trial, "validation-auc")
#     bst = lightgbm.LGBMClassifier(n_jobs=-1,**param)
#     bst.fit(train_x,train_y)
#     preds = bst.predict(test_x)
#     accuracy = f1_score(test_y, preds,average='macro')
#     return accuracy

In [ ]:
# study = optuna.create_study(direction='maximize')
# study.optimize(objective, n_trials=20)
# print(study.best_trial)

[I 2021-02-06 16:32:38,276] A new study created in memory with name: no-name-a8797296-678e-453b-a5dd-457f9179c42c
[I 2021-02-06 16:33:14,292] Trial 0 finished with value: 0.46307102336329997 and parameters: {'booster': 'gblinear', 'lambda': 2.0023502339105562e-05, 'alpha': 0.5711689972067657}. Best is trial 0 with value: 0.46307102336329997.
[I 2021-02-06 16:34:41,230] Trial 1 finished with value: 0.4709284649097033 and parameters: {'booster': 'dart', 'lambda': 0.18233922124833515, 'alpha': 0.0036469510475322623, 'max_depth': 7, 'n_estimators': 287, 'eta': 0.0216747663312638, 'gamma': 2.201317684833781e-08, 'grow_policy': 'depthwise', 'sample_type': 'weighted', 'normalize_type': 'tree', 'rate_drop': 4.7213489679524155e-07, 'skip_drop': 7.970392615589048e-08}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:35:05,057] Trial 2 finished with value: 0.378884552988136 and parameters: {'booster': 'dart', 'lambda': 3.4794104401237447e-07, 'alpha': 7.219851127503527e-06, 'max_depth': 2, 'n_estimators': 177, 'eta': 0.00305796557860404, 'gamma': 0.6895109183030464, 'grow_policy': 'depthwise', 'sample_type': 'uniform', 'normalize_type': 'tree', 'rate_drop': 0.19958230689677028, 'skip_drop': 1.1037111876302109e-07}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:36:03,878] Trial 3 finished with value: 0.46524191876659987 and parameters: {'booster': 'dart', 'lambda': 0.004678757971725731, 'alpha': 3.65791603828186e-07, 'max_depth': 5, 'n_estimators': 219, 'eta': 0.0032931416512016433, 'gamma': 3.09357942332549e-06, 'grow_policy': 'depthwise', 'sample_type': 'uniform', 'normalize_type': 'tree', 'rate_drop': 2.138123139987578e-06, 'skip_drop': 0.0024808337408683844}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:36:46,837] Trial 4 finished with value: 0.4626445483654053 and parameters: {'booster': 'gblinear', 'lambda': 9.662392422029983e-05, 'alpha': 0.0006177365995844845}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:36:58,292] Trial 5 finished with value: 0.19142944048870328 and parameters: {'booster': 'dart', 'lambda': 1.404275773023899e-05, 'alpha': 1.6216470260648089e-07, 'max_depth': 1, 'n_estimators': 108, 'eta': 0.00451500303737111, 'gamma': 4.7425511287084947e-07, 'grow_policy': 'depthwise', 'sample_type': 'uniform', 'normalize_type': 'tree', 'rate_drop': 0.023696435013310136, 'skip_drop': 0.9391288584924823}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:37:20,861] Trial 6 finished with value: 0.23845055364440945 and parameters: {'booster': 'dart', 'lambda': 0.14558301862956233, 'alpha': 0.00016454173432636443, 'max_depth': 1, 'n_estimators': 227, 'eta': 0.02519116808139645, 'gamma': 1.2615168139371759e-08, 'grow_policy': 'depthwise', 'sample_type': 'uniform', 'normalize_type': 'tree', 'rate_drop': 0.005907595732488779, 'skip_drop': 4.976530037200001e-06}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:38:28,721] Trial 7 finished with value: 0.4680376678249806 and parameters: {'booster': 'gbtree', 'lambda': 1.9128687497106628e-08, 'alpha': 3.2980503132058327e-06, 'max_depth': 8, 'n_estimators': 238, 'eta': 2.4626176685886856e-05, 'gamma': 0.18066811486560883, 'grow_policy': 'depthwise'}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:39:01,627] Trial 8 finished with value: 0.46839147341140336 and parameters: {'booster': 'gblinear', 'lambda': 0.001061150402872976, 'alpha': 1.0361078882407035e-05}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:39:34,075] Trial 9 finished with value: 0.4645436500107212 and parameters: {'booster': 'gblinear', 'lambda': 5.072063370814093e-06, 'alpha': 3.225071159681701e-05}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:40:59,955] Trial 10 finished with value: 0.46673492114563686 and parameters: {'booster': 'gbtree', 'lambda': 0.3698998950641081, 'alpha': 0.029049960739364965, 'max_depth': 9, 'n_estimators': 299, 'eta': 1.527093098424471e-07, 'gamma': 0.0011837239669371844, 'grow_policy': 'lossguide'}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:41:32,799] Trial 11 finished with value: 0.46398070218513754 and parameters: {'booster': 'gblinear', 'lambda': 0.00473009361513546, 'alpha': 0.003325453531580902}. Best is trial 1 with value: 0.4709284649097033.
[I 2021-02-06 16:42:52,926] Trial 12 finished with value: 0.4716325147625114 and parameters: {'booster': 'dart', 'lambda': 0.007728224408240355, 'alpha': 0.045906500123095606, 'max_depth': 6, 'n_estimators': 300, 'eta': 0.5827828017815633, 'gamma': 1.3308533306602958e-08, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 2.6903182347905887e-08, 'skip_drop': 1.5696999858456594e-08}. Best is trial 12 with value: 0.4716325147625114.
[I 2021-02-06 16:44:13,161] Trial 13 finished with value: 0.47408314357303366 and parameters: {'booster': 'dart', 'lambda': 0.08321014907053136, 'alpha': 0.6975157004706682, 'max_depth': 6, 'n_estimators': 299, 'eta': 0.5402652055257229, 'gamma': 1.2195761205326334e-08, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 2.0500382769560446e-08, 'skip_drop': 1.198304390656999e-08}. Best is trial 13 with value: 0.47408314357303366.
[I 2021-02-06 16:45:23,196] Trial 14 finished with value: 0.46244122505646706 and parameters: {'booster': 'dart', 'lambda': 0.01703840311465783, 'alpha': 0.9956709741340226, 'max_depth': 5, 'n_estimators': 297, 'eta': 0.9288401233927707, 'gamma': 1.0896357520736024e-08, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 1.3296472338229077e-08, 'skip_drop': 1.1223430834544196e-08}. Best is trial 13 with value: 0.47408314357303366.
[I 2021-02-06 16:46:36,141] Trial 15 finished with value: 0.4663420829679904 and parameters: {'booster': 'dart', 'lambda': 0.7762814357640541, 'alpha': 0.07605739719220969, 'max_depth': 6, 'n_estimators': 266, 'eta': 1.7510033931806888e-05, 'gamma': 2.118631585994781e-06, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 1.819412351754228e-08, 'skip_drop': 4.582776962650791e-06}. Best is trial 13 with value: 0.47408314357303366.
[I 2021-02-06 16:47:07,544] Trial 16 finished with value: 0.4259888707577824 and parameters: {'booster': 'dart', 'lambda': 0.03251742033941707, 'alpha': 0.13068518903734874, 'max_depth': 3, 'n_estimators': 171, 'eta': 0.783020022378042, 'gamma': 0.000272262727524717, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 4.85608402151884e-06, 'skip_drop': 1.0572463604447597e-08}. Best is trial 13 with value: 0.47408314357303366.
[I 2021-02-06 16:47:59,287] Trial 17 finished with value: 0.45481860478670777 and parameters: {'booster': 'gbtree', 'lambda': 0.0004259111353441289, 'alpha': 0.008341122116182344, 'max_depth': 4, 'n_estimators': 263, 'eta': 0.9106628557831523, 'gamma': 2.676449580300225e-07, 'grow_policy': 'lossguide'}. Best is trial 13 with value: 0.47408314357303366.
[I 2021-02-06 16:48:30,729] Trial 18 finished with value: 0.46579444759499633 and parameters: {'booster': 'dart', 'lambda': 0.032349891123941474, 'alpha': 0.6634209074749159, 'max_depth': 7, 'n_estimators': 100, 'eta': 0.13095853091108484, 'gamma': 3.288779279529423e-05, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 1.505802907502238e-08, 'skip_drop': 1.1861470134350477e-06}. Best is trial 13 with value: 0.47408314357303366.
[I 2021-02-06 16:49:43,736] Trial 19 finished with value: 0.4719211167600497 and parameters: {'booster': 'dart', 'lambda': 0.0016185932445191393, 'alpha': 0.2620229569969142, 'max_depth': 6, 'n_estimators': 270, 'eta': 1.4080906691193018e-08, 'gamma': 4.9042938443945636e-08, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 0.00025312934557265767, 'skip_drop': 0.0005778620532737637}. Best is trial 13 with value: 0.47408314357303366.

FrozenTrial(number=13, values=[0.47408314357303366], datetime_start=datetime.datetime(2021, 2, 6, 16, 42, 52, 928408), datetime_complete=datetime.datetime(2021, 2, 6, 16, 44, 13, 161220), params={'booster': 'dart', 'lambda': 0.08321014907053136, 'alpha': 0.6975157004706682, 'max_depth': 6, 'n_estimators': 299, 'eta': 0.5402652055257229, 'gamma': 1.2195761205326334e-08, 'grow_policy': 'lossguide', 'sample_type': 'weighted', 'normalize_type': 'forest', 'rate_drop': 2.0500382769560446e-08, 'skip_drop': 1.198304390656999e-08}, distributions={'booster': CategoricalDistribution(choices=('gbtree', 'gblinear', 'dart')), 'lambda': LogUniformDistribution(high=1.0, low=1e-08), 'alpha': LogUniformDistribution(high=1.0, low=1e-08), 'max_depth': IntUniformDistribution(high=9, low=1, step=1), 'n_estimators': IntUniformDistribution(high=300, low=100, step=1), 'eta': LogUniformDistribution(high=1.0, low=1e-08), 'gamma': LogUniformDistribution(high=1.0, low=1e-08), 'grow_policy': CategoricalDistribution(choices=('depthwise', 'lossguide')), 'sample_type': CategoricalDistribution(choices=('uniform', 'weighted')), 'normalize_type': CategoricalDistribution(choices=('tree', 'forest')), 'rate_drop': LogUniformDistribution(high=1.0, low=1e-08), 'skip_drop': LogUniformDistribution(high=1.0, low=1e-08)}, user_attrs={}, system_attrs={}, intermediate_values={}, trial_id=13, state=TrialState.COMPLETE, value=None)