<a href="https://colab.research.google.com/github/SPThole/LTFS_repo/blob/main/LETSEE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting important libraies

In [ ]:
!pip install catboost
!pip install shap
!pip install catboost
!pip install optuna

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/20/37/bc4e0ddc30c07a96482abf1de7ed1ca54e59bba2026a33bca6d2ef286e5b/catboost-0.24.4-cp36-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.8MB 57kB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.4
Collecting shap
  Downloading https://files.pythonhosted.org/packages/44/20/54381999efe3000f70a7f68af79ba857cfa3f82278ab0e02e6ba1c06b002/shap-0.38.1.tar.gz (352kB)
     |████████████████████████████████| 358kB 6.0MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from shap) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from shap) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from shap) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from shap) (1.1.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap) (4.41.1)
Collecting slicer==0.0.7
  Downloading https://files.pythonhosted.org/packages/78/c2/b3f55dfdb8af9812fdb9baf70cacf3b9e82e505b2bd4324d588888b81202/slicer-0.0.7-py3-none-any.whl
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from shap) (0.51.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.6/dist-packages (from shap) (1.3.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->shap) (1.0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->shap) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->shap) (2.8.1)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.6/dist-packages (from numba->shap) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba->shap) (53.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.38.1-cp36-cp36m-linux_x86_64.whl size=489394 sha256=ebdc51c0a83a8bf124224bf2fa0758aacacb341335a71b9f08bb7dc8f6ac36c0
  Stored in directory: /root/.cache/pip/wheels/a8/fb/e4/88012be41842b9be62ae18d82d1b1e880daf8539d1fef1fa00
Successfully built shap
Installing collected packages: slicer, shap
Successfully installed shap-0.38.1 slicer-0.0.7
Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.24.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Collecting optuna
  Downloading https://files.pythonhosted.org/packages/91/88/9c53460b97c61bce926dfe9dce51e4887c283416ff89ed30af0b73f44efa/optuna-2.5.0-py3-none-any.whl (287kB)
     |████████████████████████████████| 296kB 5.8MB/s
Collecting cmaes>=0.6.0
  Downloading https://files.pythonhosted.org/packages/ed/68/eb3c281fbf3eac3574792826a8697714c3ddb9fa923f0bd77dc55dc04115/cmaes-0.8.0-py3-none-any.whl
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from optuna) (1.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from optuna) (1.19.5)
Collecting colorlog
  Downloading https://files.pythonhosted.org/packages/5e/39/0230290df0519d528d8d0ffdfd900150ed24e0076d13b1f19e279444aab1/colorlog-4.7.2-py2.py3-none-any.whl
Collecting alembic
  Downloading https://files.pythonhosted.org/packages/a9/53/daab5c96e22e9ed1c9f8ca4e3256e72213ade42d519b6254c32e59610967/alembic-1.5.4.tar.gz (1.1MB)
     |████████████████████████████████| 1.1MB 8.0MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from optuna) (4.41.1)
Collecting cliff
  Downloading https://files.pythonhosted.org/packages/0f/8f/3c74fa4b6c3db1051b495385f5302fc5d5aa0f180d40ce3e9a13c82f8c82/cliff-3.6.0-py3-none-any.whl (79kB)
     |████████████████████████████████| 81kB 6.2MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (20.9)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.3.23)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.4.1)
Collecting Mako
  Downloading https://files.pythonhosted.org/packages/5c/db/2d2d88b924aa4674a080aae83b59ea19d593250bfe5ed789947c21736785/Mako-1.1.4.tar.gz (479kB)
     |████████████████████████████████| 481kB 16.8MB/s
Collecting python-editor>=0.3
  Downloading https://files.pythonhosted.org/packages/c6/d3/201fc3abe391bbae6606e6f1d598c15d367033332bd54352b12f35513717/python_editor-1.0.4-py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (2.8.1)
Collecting cmd2!=0.8.3,>=0.8.0
  Downloading https://files.pythonhosted.org/packages/15/8b/15061b32332bb35ea2a2f6263d0f616779d576e82739ec8e7fcf3c94abf5/cmd2-1.5.0-py3-none-any.whl (133kB)
     |████████████████████████████████| 143kB 21.4MB/s
Requirement already satisfied: pyparsing>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (2.4.7)
Collecting PrettyTable<0.8,>=0.7.2
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: PyYAML>=3.12 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.13)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/fb/48/69046506f6ac61c1eaa9a0d42d22d54673b69e176d30ca98e3f61513e980/pbr-5.5.1-py2.py3-none-any.whl (106kB)
     |████████████████████████████████| 112kB 20.1MB/s
Collecting stevedore>=2.0.1
  Downloading https://files.pythonhosted.org/packages/d4/49/b602307aeac3df3384ff1fcd05da9c0376c622a6c48bb5325f28ab165b57/stevedore-3.3.0-py3-none-any.whl (49kB)
     |████████████████████████████████| 51kB 4.9MB/s
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from Mako->alembic->optuna) (1.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->alembic->optuna) (1.15.0)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (20.3.0)
Collecting pyperclip>=1.6
  Downloading https://files.pythonhosted.org/packages/6f/4c/0b1d507ad7e8bc31d690d04b4f475e74c2002d060f7994ce8c09612df707/pyperclip-1.8.1.tar.gz
Collecting colorama>=0.3.7
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.2.5)
Requirement already satisfied: importlib-metadata>=1.6.0; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (3.4.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.6.0; python_version < "3.8"->cmd2!=0.8.3,>=0.8.0->cliff->optuna) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.6.0; python_version < "3.8"->cmd2!=0.8.3,>=0.8.0->cliff->optuna) (3.4.0)
Building wheels for collected packages: alembic, Mako, PrettyTable, pyperclip
  Building wheel for alembic (setup.py) ... done
  Created wheel for alembic: filename=alembic-1.5.4-py2.py3-none-any.whl size=156314 sha256=7e6e52a7851a8942e55aa73b86e89344bb7cf8ac98869a9bbc875dc951f3549b
  Stored in directory: /root/.cache/pip/wheels/fd/2d/ec/5a1b1e2363ed68392d292d215facf588d5448198edd8078bc1
  Building wheel for Mako (setup.py) ... done
  Created wheel for Mako: filename=Mako-1.1.4-py2.py3-none-any.whl size=75675 sha256=66775da7757e6643d9ec27e51195241f485cf1abef4c32848b29f8f08ccc26a5
  Stored in directory: /root/.cache/pip/wheels/ad/10/d3/aeb26e20d19045e2a68e5d3cbb57432e11b5d9c92c99f98d47
  Building wheel for PrettyTable (setup.py) ... done
  Created wheel for PrettyTable: filename=prettytable-0.7.2-cp36-none-any.whl size=13702 sha256=acfebcd23e731b4a9db2adf48f24dd58971da0b9be20a23bdc353bf916be3e4e
  Stored in directory: /root/.cache/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.1-cp36-none-any.whl size=11120 sha256=b624a6a303afb2d322c250bdf240c3b506f8e41620b454648cf27d0bf9425468
  Stored in directory: /root/.cache/pip/wheels/44/10/3a/c830e9bb3db2c93274ea1f213a41fabde0d8cf3794251fad0c
Successfully built alembic Mako PrettyTable pyperclip
Installing collected packages: cmaes, colorlog, Mako, python-editor, alembic, pyperclip, colorama, cmd2, PrettyTable, pbr, stevedore, cliff, optuna
  Found existing installation: prettytable 2.0.0
    Uninstalling prettytable-2.0.0:
      Successfully uninstalled prettytable-2.0.0
Successfully installed Mako-1.1.4 PrettyTable-0.7.2 alembic-1.5.4 cliff-3.6.0 cmaes-0.8.0 cmd2-1.5.0 colorama-0.4.4 colorlog-4.7.2 optuna-2.5.0 pbr-5.5.1 pyperclip-1.8.1 python-editor-1.0.4 stevedore-3.3.0

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score, confusion_matrix, accuracy_score
import xgboost as xgb
import catboost as cat
import shap
import torch
import torch.nn as nn
import torch.optim as optim
import seaborn as sns
import optuna
import matplotlib.pyplot as plt
import zipfile 
import textwrap
import datetime
from tqdm import tqdm_notebook as tq
%matplotlib inline

# Helper Functions

In [ ]:
def same_ids(df,df1):
  a = set(df['ID'].values)
  b = set(df1['ID'].values)
  return len(set(a).intersection(set(b)))

In [ ]:
#Check if same id's lie in test or not
class preprocess:

  def __init__(self, df):
    """
    """
    self.df = df.copy()

  def de_dupe(self):
    print('Dropping Duplicates')
    print(f'Before Shape: {df.shape}')
    df = df.drop_duplicates()
    print(f'After Shape: {df.shape}')
    return df

 
  def replacer(self,xx):
    return [float(x) if x!='' else 0 for x in xx]

  
  def splitcomma(self,df,col):
    df[col] = df[col].apply(lambda x: str(x)[:-1] if str(x)[-1]==',' else x)
    df[col] = df[col].apply(lambda x: str(x).split(','))
    df[col] = df[col].apply(lambda x: self.replacer(x))
    return df[col]

  def history_data(self,cols_list,wrap_cols):
    print('PREPROCESSING HISTORY DATA')
    # ['REPORTED DATE - HIST','CUR BAL - HIST','AMT OVERDUE - HIST','AMT PAID - HIST']
    for col in cols_list:
      print(col)
      self.df[col] = self.splitcomma(self.df,col)
    for wraps in wrap_cols:
      self.df[wraps] = self.df[wraps].apply(lambda x:\
                                                      textwrap.wrap(str(x), 3))
                                                    
  def amountclean(self,x):
    x = str(x).split('/')[0]
    x = x.split(',')
    x = float(''.join(x))
    return x
    
  def amount_data(self,col_list):
    print('PREPROCESSING AMOUNT DATA')
    # ['CREDIT-LIMIT/SANC AMT','DISBURSED-AMT/HIGH CREDIT',
    # 'INSTALLMENT-AMT','CURRENT-BAL','OVERDUE-AMT','WRITE-OFF-AMT']
    for col in col_list:
      print(col)
      self.df[col] = self.df[col].apply(lambda x: self.amountclean(x)).astype('float64')

  def installments(self,col_list):
    print('PREPROCESSING INSTALLMENTS')
    for col in col_list:
      print(col)
      self.df[col] = self.df[col].apply(lambda x: self.amountclean(x))
      self.df[col+'_time'] = self.df[col].apply(\
                                      lambda x : str(x).split('/')[-1])
      
  def datenan(self,x):
    try:
        return datetime.datetime.strptime(x, '%Y%m%d')
    except:
        return pd.NaT
  
  def listofdates(self,df,col):
    df[col] = df[col].apply(lambda x: str(x)[:-1] if str(x)[-1]==',' else str(x))
    df[col] = df[col].apply(lambda x: str(x).split(','))
    df[col] = df[col].apply(lambda x: [self.datenan(i) for i in x ])
    return df[col]

  def date_data(self,col_list,date_lists):
    print('PREPROCESSING DATE DATA')
    # ['DATE-REPORTED','DISBURSED-DT',
    #   'CLOSE-DT','DISBURSED-DT']
    for col in col_list:
      print(col)
      self.df[col] = pd.to_datetime(self.df[col],errors='coerce')
    for col in date_lists:
      print(col)

      # 'REPORTED DATE - HIST'
      self.df[col] = self.listofdates(self.df, col)

  def cat_data(self,dfs,col_list):
      print('PREPROCESSING CATEGORICAL DATA')
      

      encoder = LabelEncoder() 
      for col in col_list:
        print(col)
        self.df[col] = self.df[col].fillna('UNK')
        dfs[col] = dfs[col].fillna('UNK')
        dfm = self.df[col].append(dfs[col], ignore_index = True)
        encoder = encoder.fit(dfm)
        self.df[col] = encoder.transform(self.df[col])
        dfs[col] = encoder.transform(dfs[col])



  def merger(self, df_left ,df_right, on_what ,how_to):

    assert df_left[on_what].dtype == df_right[on_what].dtype
    df_left, df_right = self.de_dupe((df_left, df_right))
    print(f'SHAPES BEFORE MERGE: {df_left.shape, df_right.shape}')
    dfm = df_left.merge(df_right, on = on_what, how = how_to)
    print(f'SHAPES AFTER MERGE: {dfm.shape}')
    return dfm

  def getmerged(self):

    self.trainer = self.merger(self.d_train, self.b_train, 'ID', 'inner')
    self.tester = self.merger(self.d_test, self.b_test, 'ID', 'inner')

In [ ]:
class lookin:

  def __init__(self, df):

    self.df = df

  def dtype_obj(self):

    objs_list = self.df.select_dtypes(['object']).columns
    self.objs_cols = list(objs_list)
    return list(objs_list)

  def unique_objs(self):
    lister = self.dtype_obj()
    self.objs_nunique = pd.DataFrame(self.df[lister].nunique()).\
                                  sort_values(by=0, ascending = False)
    return self.objs_nunique

  def na_check(self):
    dff = pd.DataFrame(self.df.isna().sum()).sort_values(by = 0,\
                                                         ascending = False)
    self.nas = dff[dff[0]!=0]

  def granularity(self, on_what):

    dff = pd.DataFrame(self.df[on_what].value_counts())
    print(dff.head())
    print(dff.iloc[:,0].max, dff.iloc[:,0].min())


  def run_this(self):

    self.unique_objs()
    self.na_check()

In [ ]:
def targetencode(dftrain,dftest,x,trgt,ag):
  dff = dftrain.copy()
  dff1 =  dftest.copy()
  for col in x:
    print(col)
    dff = dftrain[[col,trgt]]
    dffm = dftrain.groupby(col).agg({trgt:ag}).reset_index()
    dd = pd.Series(dffm[trgt].values,index=dffm[col].values).to_dict()
    dftest[col] = dff1[col].map(dd)
    dftrain[col] = dff[col].map(dd)
  return dftrain, dftest

# Getting data

In [ ]:


zipfiles = ['/content/drive/MyDrive/Test.zip', 
            '/content/drive/MyDrive/Train.zip']
target_path = '/content/drive/MyDrive'

for files in zipfiles:
  with zipfile.ZipFile(files,"r") as zip_ref:
      zip_ref.extractall(target_path)

In [ ]:
data_dict = pd.read_excel('/content/drive/MyDrive/Train/data_dict.xlsx')

In [ ]:
#Dicts
d_dict = data_dict[['Demography Table','Unnamed: 1']].dropna()
b_dict = data_dict[['Bureau Data','Unnamed: 4' ]].dropna()
c_dict = data_dict[['CONTRIBUTOR ID', 'Bank Name']].dropna()
a_dict = data_dict[['Account Type', 'Description']].dropna()

In [ ]:
a_dict.shape, b_dict.shape, c_dict.shape, d_dict.shape

((47, 2), (25, 2), (18, 2), (27, 2))

In [ ]:
%timeit

d_train = pd.read_excel('/content/drive/MyDrive/Train/train_Data.xlsx')
b_train = pd.read_excel('/content/drive/MyDrive/Train/train_bureau.xlsx')

d_test = pd.read_excel('/content/drive/MyDrive/test_Data.xlsx')
b_test = pd.read_excel('/content/drive/MyDrive/test_bureau.xlsx')

# Looking at data

In [ ]:
d_train.columns, b_train.columns

(Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
        'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
        'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
        'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
        'MonthlyIncome', 'City', 'State', 'ZiPCODE', 'Top-up Month'],
       dtype='object'),
 Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
        'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
        'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
        'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
        'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
        'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
        'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
       dtype='object'))

In [ ]:
print(same_ids(d_train, b_train), d_train.shape)
print(same_ids(d_test, b_test), d_test.shape)
print(same_ids(d_train, d_test))

128655 (128655, 26)
14745 (14745, 25)
0

In [ ]:
# loo = lookin(d_train)
# loos = lookin(d_test)

# loob = lookin(b_train)
# loobs = lookin(b_test)

# loo.run_this()
# loos.run_this()
# loob.run_this()
# loobs.run_this()

In [ ]:
train_bp = preprocess(b_train)
test_bp = preprocess(b_test)

hist_cols = ['CUR BAL - HIST','AMT OVERDUE - HIST','AMT PAID - HIST']
wrap_cols = ['DPD - HIST']

amount_cols = ['CREDIT-LIMIT/SANC AMT','DISBURSED-AMT/HIGH CREDIT',
              'INSTALLMENT-AMT','CURRENT-BAL','OVERDUE-AMT','WRITE-OFF-AMT']
              
date_cols = ['DATE-REPORTED','DISBURSED-DT','CLOSE-DT','DISBURSED-DT']
list_date = ['REPORTED DATE - HIST']

cat_cols = ['MATCH-TYPE', 'ACCT-TYPE', 'ASSET_CLASS',
            'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND', 'ACCOUNT-STATUS',
            ]

In [ ]:

train_bp.history_data(hist_cols,wrap_cols)
train_bp.amount_data(amount_cols)
train_bp.date_data(date_cols, list_date)
train_bp.cat_data(test_bp.df,cat_cols)

test_bp.history_data(hist_cols,wrap_cols)
test_bp.amount_data(amount_cols)
test_bp.date_data(date_cols, list_date)

PREPROCESSING HISTORY DATA
CUR BAL - HIST
AMT OVERDUE - HIST
AMT PAID - HIST
PREPROCESSING AMOUNT DATA
CREDIT-LIMIT/SANC AMT
DISBURSED-AMT/HIGH CREDIT
INSTALLMENT-AMT
CURRENT-BAL
OVERDUE-AMT
WRITE-OFF-AMT
PREPROCESSING DATE DATA
DATE-REPORTED
DISBURSED-DT
CLOSE-DT
DISBURSED-DT
REPORTED DATE - HIST
PREPROCESSING CATEGORICAL DATA
MATCH-TYPE
ACCT-TYPE
ASSET_CLASS
CONTRIBUTOR-TYPE
OWNERSHIP-IND
ACCOUNT-STATUS
PREPROCESSING HISTORY DATA
CUR BAL - HIST
AMT OVERDUE - HIST
AMT PAID - HIST
PREPROCESSING AMOUNT DATA
CREDIT-LIMIT/SANC AMT
DISBURSED-AMT/HIGH CREDIT
INSTALLMENT-AMT
CURRENT-BAL
OVERDUE-AMT
WRITE-OFF-AMT
PREPROCESSING DATE DATA
DATE-REPORTED
DISBURSED-DT
CLOSE-DT
DISBURSED-DT
REPORTED DATE - HIST

In [ ]:
train_dp = preprocess(d_train)
test_dp = preprocess(d_test)
              
date_cols = ['DisbursalDate','MaturityDAte','AuthDate']
list_date = []

cat_cols = ['Frequency','InstlmentMode','LoanStatus',
            'PaymentMode']

In [ ]:
train_dp.date_data(date_cols, list_date)
train_dp.cat_data(test_dp.df,cat_cols)

test_dp.date_data(date_cols, list_date)

PREPROCESSING DATE DATA
DisbursalDate
MaturityDAte
AuthDate
PREPROCESSING CATEGORICAL DATA
Frequency
InstlmentMode
LoanStatus
PaymentMode
PREPROCESSING DATE DATA
DisbursalDate
MaturityDAte
AuthDate

In [ ]:
train_dp.df.isna().sum()

ID                     0
Frequency              0
InstlmentMode          0
LoanStatus             0
PaymentMode            0
BranchID               0
Area               11653
Tenure                 0
AssetCost              0
AmountFinance          0
DisbursalAmount        0
EMI                    0
DisbursalDate          0
MaturityDAte           1
AuthDate               0
AssetID                0
ManufacturerID         0
SupplierID             0
LTV                    0
SEX                   59
AGE                   59
MonthlyIncome        234
City               11256
State                  0
ZiPCODE              372
Top-up Month           0
dtype: int64

In [ ]:
# train_dp.df['BranchID'] = train_dp.df['BranchID'].apply(lambda x: str(x)[0:2])
# train_dp.df['BranchID'] = pd.to_numeric(train_dp.df['BranchID'])

# test_dp.df['BranchID'] = test_dp.df['BranchID'].apply(lambda x: str(x)[0:2])
# test_dp.df['BranchID'] = pd.to_numeric(test_dp.df['BranchID'])

In [ ]:
# targetencode(train_dp.df,test_dp.df,['BranchID'],'Top-up Month','mean')

In [ ]:
train_dp.df['Top-up Month'].unique()

array([' > 48 Months', 'No Top-up Service', '12-18 Months',
       '36-48 Months', '18-24 Months', '24-30 Months', '30-36 Months'],
      dtype=object)

In [ ]:
trgt_maps = {' > 48 Months':6, 
             'No Top-up Service':-1, 
             '12-18 Months':1,
              '36-48 Months':5, 
              '18-24 Months':2, 
              '24-30 Months':3, 
              '30-36 Months':4}

In [ ]:
train_dp.df['Top-up Month'] = train_dp.df['Top-up Month'].map(trgt_maps)
# test_dp.df['Top-up Month'] = test_dp.df['Top-up Month'].map(trgt_maps)

In [ ]:
train_dp.df['Top-up Month']

0         6
1        -1
2         1
3         6
4         5
         ..
128650    3
128651   -1
128652   -1
128653   -1
128654   -1
Name: Top-up Month, Length: 128655, dtype: int64

In [ ]:
train_dp.df.nunique()

ID                 128655
Frequency               4
InstlmentMode           2
LoanStatus              2
PaymentMode            11
BranchID              189
Area                   92
Tenure                141
AssetCost            7835
AmountFinance       20439
DisbursalAmount     19412
EMI                 24323
DisbursalDate        2837
MaturityDAte          980
AuthDate             2711
AssetID            128655
ManufacturerID         10
SupplierID           4539
LTV                  7988
SEX                     2
AGE                    73
MonthlyIncome       11568
City                  488
State                  22
ZiPCODE              9123
Top-up Month            7
dtype: int64

In [ ]:
train_dp.df,test_dp.df = targetencode(train_dp.df,test_dp.df,
             ['PaymentMode','BranchID','ManufacturerID','State'],'Top-up Month','mean')

PaymentMode
BranchID
ManufacturerID
State

In [ ]:
train_dp.df

            ID  Frequency  InstlmentMode  ...     State   ZiPCODE  Top-up Month
0            1          2              1  ...  0.059931  464993.0             6
1            2          2              0  ...  0.059931  466001.0            -1
2            3          3              1  ...  0.059931  462030.0             1
3            7          2              0  ...  0.059931  473335.0             6
4            8          2              1  ... -0.406021  495442.0             5
...        ...        ...            ...  ...       ...       ...           ...
128650  143390          1              1  ... -0.090728  131403.0             3
128651  143391          1              1  ... -0.090728  131403.0            -1
128652  143393          2              1  ... -0.090728  131024.0            -1
128653  143394          1              1  ... -0.090728  131103.0            -1
128654  143395          1              1  ... -0.090728  131402.0            -1

[128655 rows x 26 columns]

In [ ]:
train_dp.df = train_dp.df.drop(columns = ['City','Area','ZiPCODE','SupplierID','AssetID'])
test_dp.df = test_dp.df.drop(columns = ['City','Area','ZiPCODE','SupplierID','AssetID'])

In [ ]:
train_bp.df

            ID  ...  TENURE
0            1  ...     NaN
1            1  ...    36.0
2            1  ...     NaN
3            1  ...     NaN
4            1  ...     NaN
...        ...  ...     ...
560839  143393  ...    12.0
560840  143393  ...    24.0
560841  143393  ...    48.0
560842  143394  ...     NaN
560843  143395  ...     NaN

[560844 rows x 25 columns]

In [ ]:
train_bp.df = train_bp.df.drop(columns  = ['INSTALLMENT-AMT',
                                           'CREDIT-LIMIT/SANC AMT',
                                           'INSTALLMENT-AMT',
                                           'INSTALLMENT-FREQUENCY'])
test_bp.df = test_bp.df.drop(columns  = ['INSTALLMENT-AMT',
                                           'CREDIT-LIMIT/SANC AMT',
                                           'INSTALLMENT-AMT',
                                           'INSTALLMENT-FREQUENCY'])

In [ ]:
train_bp.df['SELF-INDICATOR'] = train_bp.df['SELF-INDICATOR'].astype('int64')

In [ ]:
train_dp.df['SEX'].value_counts()

M    122144
F      6452
Name: SEX, dtype: int64

In [ ]:
encoder = LabelEncoder()
train_dp.df['SEX'] = encoder.fit_transform(train_dp.df['SEX'].fillna('M'))
test_dp.df['SEX'] = encoder.fit_transform(test_dp.df['SEX'].fillna('M'))

In [ ]:
# # Finding out active and LTFS
# ltfs_trb = train_bp.df[train_bp.df['SELF-INDICATOR']==1]
# ltfs_tsb = train_bp.df[train_bp.df['SELF-INDICATOR']==1]

In [ ]:
# ltfs_trb.shape, train_dp.df.shape[0] + test_dp.df.shape[0]

In [ ]:
# ltfs_trm = ltfs_trb.merge(train_dp.df,
#                left_on = ['ID','DISBURSED-AMT/HIGH CREDIT'],
#                right_on = ['ID','DisbursalAmount'],
#                how = 'inner')

In [ ]:
train_bp.df = train_bp.df.merge(train_dp.df[['ID','Top-up Month']],on='ID',how='left')

In [ ]:
train_bp.df,test_bp.df = targetencode(train_bp.df,test_bp.df,
             ['ACCT-TYPE','CONTRIBUTOR-TYPE','OWNERSHIP-IND','ACCOUNT-STATUS','ASSET_CLASS'],'Top-up Month','mean')

ACCT-TYPE
CONTRIBUTOR-TYPE
OWNERSHIP-IND
ACCOUNT-STATUS
ASSET_CLASS

In [ ]:
train_bp.df

            ID  SELF-INDICATOR  ...  TENURE  Top-up Month
0            1               0  ...     NaN             6
1            1               0  ...    36.0             6
2            1               1  ...     NaN             6
3            1               1  ...     NaN             6
4            1               1  ...     NaN             6
...        ...             ...  ...     ...           ...
560839  143393               0  ...    12.0             0
560840  143393               0  ...    24.0             0
560841  143393               0  ...    48.0             0
560842  143394               1  ...     NaN             0
560843  143395               1  ...     NaN             0

[560844 rows x 23 columns]

In [ ]:
bp_tgg = train_bp.df.groupby('ID').aggregate({
    'ACCT-TYPE':'mean',
    'CONTRIBUTOR-TYPE':'mean',
    'OWNERSHIP-IND':'mean',
    'ACCOUNT-STATUS':'mean',
    'ASSET_CLASS':'mean',
    
    'SELF-INDICATOR': 'sum',
    'REPORTED DATE - HIST': 'sum',
    'DPD - HIST': 'sum',
    'CUR BAL - HIST': 'sum',
    'AMT OVERDUE - HIST': 'sum',
    'AMT PAID - HIST':'sum',
    'TENURE':'mean'

}).reset_index()

In [ ]:
bp_tsgg = test_bp.df.groupby('ID').aggregate({
    
     'ACCT-TYPE':'mean',
    'CONTRIBUTOR-TYPE':'mean',
    'OWNERSHIP-IND':'mean',
    'ACCOUNT-STATUS':'mean',
    'ASSET_CLASS':'mean',
    'SELF-INDICATOR': 'sum',
    'REPORTED DATE - HIST': 'sum',
    'DPD - HIST': 'sum',
    'CUR BAL - HIST': 'sum',
    'AMT OVERDUE - HIST': 'sum',
    'AMT PAID - HIST':'sum',
    'TENURE':'mean'

}).reset_index()

bp_tgg = bp_tgg.merge(train_dp.df,on='ID')
bp_tsgg = bp_tsgg.merge(test_dp.df,on='ID')

bp_tgg['DURATION'] = bp_tgg['MaturityDAte']- bp_tgg['DisbursalDate']
bp_tsgg['DURATION'] = bp_tsgg['MaturityDAte']- bp_tsgg['DisbursalDate']

In [ ]:
# train_dp.df['Duration'] = train_dp.df['DisbursalDate'] - train_dp.df['MaturityDAte']
# test_dp.df['Duration'] = test_dp.df['DisbursalDate'] - test_dp.df['MaturityDAte']

# train_dp.df['Duration'] = train_dp.df['Duration'].apply(lambda x: x.days)
# test_dp.df['Duration'] = test_dp.df['Duration'].apply(lambda x: x.days)

# train_dp.df = train_dp.df.drop(columns = ['ID','DisbursalDate','MaturityDAte','AuthDate','AssetID','ManufacturerID','SupplierID',
#                                           'BranchID','State'])
# test_dp.df = test_dp.df.drop(columns = ['ID','DisbursalDate','MaturityDAte','AuthDate','AssetID','ManufacturerID','SupplierID',
#                                         'BranchID','State'])

In [ ]:
bp_tgg['lens'] = bp_tgg[['REPORTED DATE - HIST',
        'CUR BAL - HIST']].apply(lambda x: min(len(x['REPORTED DATE - HIST']),
                                                   len(x['CUR BAL - HIST'])),axis=1)
        
bp_tgg['REPORTED DATE - HIST'] = bp_tgg.apply(lambda x: x['REPORTED DATE - HIST'][:x['lens']],axis=1)
bp_tgg['CUR BAL - HIST'] = bp_tgg.apply(lambda x: x['CUR BAL - HIST'][:x['lens']],axis=1)
bp_tgg['CUR BAL - HIST'] = bp_tgg.apply(lambda x: x['CUR BAL - HIST'][:x['lens']],axis=1)

In [ ]:
# en = LabelEncoder()
# en.fit(train_dp.df['Top-up Month'])
# train_dp.df['Top-up Month'] = en.transform(train_dp.df['Top-up Month'])

In [ ]:
bp_tsgg['lens'] = bp_tsgg[['REPORTED DATE - HIST',
        'CUR BAL - HIST']].apply(lambda x: min(len(x['REPORTED DATE - HIST']),
                                                   len(x['CUR BAL - HIST'])),axis=1)
        
bp_tsgg['REPORTED DATE - HIST'] = bp_tsgg.apply(lambda x: x['REPORTED DATE - HIST'][:x['lens']],axis=1)
bp_tsgg['CUR BAL - HIST'] = bp_tsgg.apply(lambda x: x['CUR BAL - HIST'][:x['lens']],axis=1)
bp_tsgg['CUR BAL - HIST'] = bp_tsgg.apply(lambda x: x['CUR BAL - HIST'][:x['lens']],axis=1)

In [ ]:
bp_tgg.columns

Index(['ID', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND',
       'ACCOUNT-STATUS', 'ASSET_CLASS', 'SELF-INDICATOR',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE', 'Frequency',
       'InstlmentMode', 'LoanStatus', 'PaymentMode', 'BranchID', 'Tenure',
       'AssetCost', 'AmountFinance', 'DisbursalAmount', 'EMI', 'DisbursalDate',
       'MaturityDAte', 'AuthDate', 'ManufacturerID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'State', 'Top-up Month', 'DURATION', 'lens'],
      dtype='object')

In [ ]:
bp_tgg1= bp_tgg[['ID','EMI','REPORTED DATE - HIST','CUR BAL - HIST']].set_index(['ID']).apply(pd.Series.explode).reset_index()
bp_tsgg1= bp_tsgg[['ID','EMI','REPORTED DATE - HIST','CUR BAL - HIST']].set_index(['ID']).apply(pd.Series.explode).reset_index()

In [ ]:
bp_tgg1 = bp_tgg1.merge(bp_tgg[['ID', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND',
       'ACCOUNT-STATUS', 'ASSET_CLASS', 'SELF-INDICATOR',
       'TENURE', 'Frequency',
       'InstlmentMode', 'LoanStatus', 'PaymentMode', 'BranchID', 'Tenure',
       'AssetCost', 'AmountFinance', 'DisbursalAmount', 'DisbursalDate',
       'MaturityDAte', 'AuthDate', 'ManufacturerID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'State', 'Top-up Month', 'DURATION', 'lens']],on='ID')

bp_tsgg1 = bp_tsgg1.merge(bp_tsgg[['ID', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE', 'OWNERSHIP-IND',
       'ACCOUNT-STATUS', 'ASSET_CLASS', 'SELF-INDICATOR',
       'TENURE', 'Frequency',
       'InstlmentMode', 'LoanStatus', 'PaymentMode', 'BranchID', 'Tenure',
       'AssetCost', 'AmountFinance', 'DisbursalAmount', 'DisbursalDate',
       'MaturityDAte', 'AuthDate', 'ManufacturerID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'State', 'DURATION', 'lens']],on='ID')

In [ ]:
bp_tgg1.to_csv('/content/drive/MyDrive/pro_train_ltfs1.csv',index = None)
bp_tsgg1.to_csv('/content/drive/MyDrive/pro_test_ltfs1.csv',index = None)